@use '../../assets/styles/theme.scss';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 50px;

  .AddService {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e6e6e6;
    border-radius: 10px;
    height: 83px;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.171);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.171);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.171);
    border: 2px solid rgba(255, 255, 255, 0.308);

    button {
      width: 55%;
      max-width: 70%;
      background-color: #db3d3d;
      padding: 10px 10px;
      border-radius: 20px;
      min-height: 46px;
      font-size: 2rem;
      color: white;
      font-weight: 900;
      border: none;
      -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.171);
      -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.171);
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.171);
      border: 3px solid rgb(255, 255, 255);
    }
  }
  .line {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #9f9f9f;
    height: 2px;
    width: 100%;
  }
  .allOffers {
    display: flex;
    flex-direction: column;
  }
}
