@use '../../assets/styles/theme.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 10px 0px 10px;

  .header {
    background: linear-gradient(135deg, #d84040 0%, #a31d1d 100%);
    padding: 16px;
    color: white;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    position: relative;
    z-index: 5;
    width: 100vw;
    box-sizing: border-box;
  
    h1 {
      margin: 0;
      font-size: 2.4rem;
      font-weight: 800;
      text-align: center;
    }
  }
  
  .emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 30px;
    text-align: center;
  }

  .icon {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .message {
    color: #777;
    margin-top: 10px;
    max-width: 300px;
  }

  .addCompanyButton {
    background-color: theme.$color-red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken(theme.$color-red, 10%);
    }
  }
}
