@use '../../assets/styles/theme.scss';
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 120px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.267);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.267);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.267);
  max-height: 140px;
  animation: fadeIn 0.25s ease-in-out;

  &:last-child {
    margin-bottom: 15px;
  }

  .left {
    flex: 1;
    overflow: hidden;
    position: relative;
    justify-content: center;

    .opinions {
      display: flex;
      flex-direction: row;
      background-color: rgb(255, 255, 255);
      max-width: 100px;
      overflow: scroll;
      padding: 0px 6px;
      justify-items: center;
      height: 17px;
      position: absolute;
      top: 5px;
      left: 5px;

      border-radius: 10px;
      font-size: 1.1rem;
      align-items: center;

      .rating {
        min-width: 15px;
        padding-right: 3px;
      }

      img {
        width: 15px;
        padding-right: 3px;
        top: -1px;
      }
      .opinionsCount {
        color: #767676;
      }
    }

    img {
      align-self: center;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right {
    background-color: #ff5555;
    flex: 2;
    padding-left: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5px;
      margin-bottom: 5px;

      .title {
        .name {
          font-weight: 900;
          font-size: 1.6rem;
        }
        .company {
          margin-top: -2px;
          font-size: 1.2rem;
        }
      }
      .favorite {
        width: 30px;
        padding: 0px 5px;
      }
    }

    .shortInfo {
      display: flex;
      margin-right: 10px;
      margin-bottom: auto;
      padding-left: 10px;
      flex-direction: column;

      .oneShortInfo {
        display: flex;
        align-items: center;
        width: 100%;

        img {
          width: 20px;
        }
        .info {
          display: block;
          flex-direction: row;
          font-size: 1.1rem;
          margin-left: 5px;
          align-self: center;

          .main {
            font-weight: bold;
          }
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      padding-right: 5px;
      margin-bottom: 3px;

      .availability {
        font-size: 1.2rem;
        height: fit-content;
        margin-top: auto;

        .bold {
          font-weight: bold;
        }
      }
      .price {
        text-align: right;
        max-width: 40%;
        .charge {
          font-size: 2rem;
          font-weight: bold;

          span {
            font-size: 1rem;
            margin-left: 2px;
          }
        }
        .serviceUnit {
          display: flex;
          flex-direction: row;
          justify-content: end;
          margin-top: -5px;
          font-size: 1.2rem;
          span {
            padding-left: 4px;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
