@use '../../assets/styles/theme.scss';
.container {
  color: white;
  background-color: #ffa424;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-sizing: border-box;
  padding-right: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
  -moz-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
  box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);

  &:first-child {
    margin-top: 0px;
  }

  .mechanicAvatar {
    display: flex;
    border-radius: 10px;
    margin: 10px;
    align-self: center;
    justify-content: center;
    width: 150px;
    height: 90px;
    max-height: 120px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;

    .name {
      font-weight: 900;
      align-self: flex-start;
      margin-top: 5px;
    }

    .address {
      font-size: 1.3rem;
    }
    .submitButton {
      width: 120px;
      font-size: 1.5rem;
      font-weight: 900;
      background-color: #ff8080;
      border: 0px;
      padding: 6px 0px;
      border-radius: 15px;
      margin-top: 5px;
      color: white;
      margin-top: auto;
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.39);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.39);
    }
  }
}
