@use '../../assets/styles/theme.scss';
@keyframes indicator {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    width: 15px;
    opacity: 0.5;
  }
  100% {
    width: 30px;
    opacity: 1;
  }
}

.container {
  padding: 0px 50px;
  box-sizing: border-box;
  height: 50px;
  background-color: rgb(189, 9, 9);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  z-index: 2;

  a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .item {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 75px;
    align-items: center;
    position: static;
    transition: 0.2s ease-in-out;
    
    &::after {
      content: '';
      width: 0px;
      transition: 0.2s ease-in-out;
      animation: indicator 0.1s ease-in-out;
    }

    img {
      margin-top: 5px;
      height: 30px;
    }

    span {
      font-size: 1.3rem;
    }
  }

  .itemActive {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    font-weight: 700;

    &::after {
      transition: 0.2s ease-in-out;
      content: '';
      width: 30px;
      height: 4px;
      background-color: transparent;
      position: absolute;
      bottom: 46px;
      background-color: rgb(255, 255, 255);
      border-radius: 10px;
    }
  }
}
