@use '../../assets/styles/theme.scss';
.container {
  flex-direction: column;
  height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;

  .top {
    background-color: red;
    width: 100%;
    height: 250px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .back {
      background-color: #9b4f4f;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 35px;
      position: absolute;
      top: 5px;
      left: 5px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: relative;
        left: -2px;
      }
    }

    .favorite {
      background-color: #9b4f4f;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      width: 35px;
      position: absolute;
      top: 5px;
      right: 5px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 3px;

      img {
        position: relative;
        top: 1px;
      }
    }

    .opinions {
      display: flex;
      flex-direction: row;
      background-color: rgb(255, 255, 255);
      max-width: 150px;
      overflow: scroll;
      padding: 0px 6px;
      justify-items: center;
      height: 23px;
      position: absolute;
      bottom: 5px;
      right: 5px;
      border-radius: 20px;
      font-size: 1.2rem;
      align-items: center;

      .rating {
        min-width: 15px;
        padding-right: 3px;
      }

      img {
        position: relative;
        width: 16px;
        padding-right: 3px;
        height: 16px;
        top: -1px;
      }
      .opinionsCount {
        color: #767676;
      }
    }
  }

  .info {
    padding: 5px;
    color: white;
    background-color: #954545;

    .title {
      font-weight: bold;
      font-size: 2rem;
    }

    .company {
      font-size: 1.2rem;
    }

    .description {
      background-color: #9b4f4f;
      -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin: 5px;
      padding: 5px;
      font-size: 1.3rem;
    }

    .shortInfo {
      display: flex;
      margin-right: 10px;
      margin-bottom: auto;
      padding-left: 10px;
      flex-direction: row;
      justify-content: space-between;

      .shortInfoLeft {
        .oneShortInfo {
          display: flex;
          align-items: center;
          width: 100%;

          img {
            width: 20px;
          }

          .info {
            display: block;
            flex-direction: row;
            font-size: 1.1rem;
            margin-left: 5px;
            align-self: center;

            .main {
              font-weight: bold;
            }
          }
        }
      }

      .price {
        text-align: right;
        max-width: 30%;
        align-self: flex-end;

        .charge {
          font-size: 2rem;
          font-weight: bold;

          span {
            font-size: 1rem;
            margin-left: 2px;
          }
        }
        .serviceUnit {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: -5px;
          font-size: 1.2rem;

          span:nth-child(2) {
            padding-left: 4px;
          }
        }
      }
    }
  }
  .reservation {
    padding-bottom: 100px;
  }
  .orderButton {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    background-color: #2897ff;
    color: white;
    border-radius: 20px;
    padding: 11px;
    font-size: 1.5rem;
    font-weight: 900;
    border: none;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.26);
    z-index: 1;
  }
}
