@use '../../assets/styles/theme.scss';
.container {
  width: 100%;

  .companies{
    margin: 8px 0px 5px 0px;
    max-height: 530px;
    overflow: scroll;
    padding-bottom: 8px;
    border-radius: 10px;
  }

  .addCompanyButton {
    width: 100%;
    background-color: #ffa424;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: 1.5rem;
    font-weight: 900;
    border: none;
    margin-top: auto;
    -webkit-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
    -moz-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
    box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
  }
}
