@use '../../assets/styles/theme.scss';
.container {
  color: white;
  background-color: #ffa424;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-sizing: border-box;
  padding-right: 10px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
  -moz-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
  box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
  animation: slideFromLeft 0.5s ease-in-out;

  .mechanicAvatar {
    width: 90px;
    height: 90px;
    display: flex;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 10px;
    justify-content: center;
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;

    .name{
      font-weight: 900;
      align-self: flex-start;
      margin-top: 4px;
    }

    .text {
      font-size: 1.3rem;
      padding-bottom: 5px;
    }
    .submitButton {
      width: 120px;
      font-size: 1.5rem;
      font-weight: 900;
      background-color: #ff8080;
      border: 0px;
      padding: 6px 0px;
      border-radius: 15px;
      margin-top: 5px;
      color: white;
      margin-top: auto;
    }
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
