.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 10px 70px 10px;
  height: 100dvh;
  background-color: rgb(255, 254, 246);
  
  /* Desktop styles */
  @media (min-width: 768px) {
    justify-content: center;
    padding: 20px;
    padding-bottom: 20px; /* Remove extra bottom padding on desktop */
    background: linear-gradient(135deg, #f5f5f5 0%, #e8e8e8 100%);
  }

  .profileInfo {
    margin-top: 10px;
    color: white;
    background-color: #c92828;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-sizing: border-box;
    padding-right: 10px;
    -webkit-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
    -moz-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
    box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);

    .avatar {
      background-color: rgb(255, 255, 255);
      width: 90px;
      height: 90px;
      padding: 20px;
      display: flex;
      box-sizing: border-box;
      border-radius: 50px;
      margin: 10px;
      justify-content: center;
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;

      .hello {
        margin-top: 6px;
        font-size: 2.4rem;
        align-self: flex-start;
        font-weight: 900;
      }
      .date {
        font-size: 1.5rem;
      }
      .editDataButton {
        width: 120px;
        font-size: 1.5rem;
        font-weight: 900;
        background-color: #ff8080;
        border: 0px;
        padding: 6px 0px;
        border-radius: 15px;
        margin-top: 5px;
        color: white;
      }
    }
  }

  .mechanicInfo {
    color: white;
    background-color: #ffa424;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-sizing: border-box;
    padding-right: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
    -moz-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
    box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);

    .mechanicAvatar {
      width: 90px;
      height: 90px;
      display: flex;
      box-sizing: border-box;
      border-radius: 50px;
      margin: 10px;
      justify-content: center;
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;

      .text {
        padding-top: 5px;
        font-size: 1.3rem;
      }
      .submitButton {
        width: 120px;
        font-size: 1.5rem;
        font-weight: 900;
        background-color: #ff8080;
        border: 0px;
        padding: 6px 0px;
        border-radius: 15px;
        margin-top: 5px;
        color: white;
      }
    }
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  background-color: rgb(255, 254, 246);
  
  /* Desktop styles */
  @media (min-width: 768px) {
    background: linear-gradient(135deg, #f5f5f5 0%, #e8e8e8 100%);
  }
}

.loadingSpinner {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #db0000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  
  /* Desktop styles */
  @media (min-width: 768px) {
    width: 60px;
    height: 60px;
    border-width: 5px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
