@use '../../assets/styles/theme.scss';
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  padding-top: 75px;
  margin-top: 35px;
  max-height: calc(100% - 20px);
  overflow-x: scroll;
  padding-bottom: 50px;
  background-color: rgb(255, 254, 246);
}
