@use '../../assets/styles/theme.scss';
.container {
  margin-top: 10px;
  color: white;
  background-color: #c92828;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-sizing: border-box;
  padding-right: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
  -moz-box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);
  box-shadow: 0px 4px 4px 0px rgb(199, 199, 199);

  .avatar {
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 90px;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 10px;
    justify-content: center;
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;

    .hello {
      margin-top: 6px;
      font-size: 2.4rem;
      align-self: flex-start;
      font-weight: 900;
    }
    .date {
      font-size: 1.5rem;
    }
    .editDataButton {
      width: 120px;
      font-size: 1.5rem;
      font-weight: 900;
      background-color: #ff8080;
      border: 0px;
      padding: 6px 0px;
      border-radius: 15px;
      margin-top: 5px;
      color: white;
      margin-top: auto;
      -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.39);
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.39);
    }
  }
}
